.footer {
  background-color: var(--primary-dark);
  padding: 12px;
  text-align: center;
  color: white;
  font-size: 16px;
  border-top: 2px solid var(--accent);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.footer a {
  color: var(--accent);
  text-decoration: none;
  font-weight: bold;
}

.footer i {
  margin-left: 6px;
  color: var(--accent-dark);
}

/* Mobile devices */
@media (max-width: 768px) {
  .footer {
    padding: 8px;
    font-size: 12px;
  }
}


/* Hover effect */
@media (hover: hover) {
  .footer a:hover {
    text-decoration: underline;
  }
}
